// see "pages/_app.js" for main font family
// font-family: var(--main-font);
$main-font: var(--main-font) !default;

$black: #141414 !default;
$white: #f0f0f0 !default;
$darker-white: #dfdfdf !default;
$react-blue: #61dafb !default;
$react-grey: #20232a !default;
